.data-columns
{
    padding: 50px 0px 0px 20px;
}
.menuu{
    background-color: rgba(238, 238, 238, 0.701);
}
#menuu ul
{
    list-style:none;

}

#menuu ul ul
{
    display:none;
    position:absolute;
    background:#eee;
    z-index: 1;
    width: 40vw;

}

#menuu ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#menuu ul ul li
{
    float:none;
    width:150px
}

#menuu ul li:hover > ul
{
    display:block;
}
.desp{
    width: 35vw;
    text-align: center;
}
.predTableRow{
    border: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
}
.predTableCol{
    border: 2px solid;
    text-align: center;
    width: 300px;
    font: inherit;
    font-size: 24px;
}